@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', arial;
    box-sizing: border-box;
}

.navigation {
  height: 42px;
  background: skyblue;
  color: darkslategray;
  font-weight: 600;
  line-height: 42px;
  padding: 0 0 0 40px;
}

.day-picker {
  display: flex;
  width: 100vw;
  overflow: auto;
  height: 42px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.15);
}

.day-picker div {
  height: 100%;
  line-height: 42px;
  border-right: 1px solid #e5e5e5;
  padding: 0 10px;
  cursor: pointer;
}

.day-picker div.selected {
  background: #e5e5e5;
}

.day-picker div:hover {
  box-shadow: inset 1px 1px 5px rgba(0,0,0,0.15);
}

.main-display {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: calc(100vh - 84px);
  /* background: red; */
}

.main-display >div {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
}

.main-display >div .name {
  font-size: 2.5em;
}

.main-display >div:first-of-type {
  border-right: 1px solid #e5e5e5;
}

.main-display >div .display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-display >div .display .add, .main-display >div .display .remove {
  font-size: 10em;
  color: #e5e5e5;
  /* background: rebeccapurple; */
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(50vh - 185px);
  cursor: pointer;
}
.main-display >div .display .add:hover,
.main-display >div .display .remove:hover {
  background: #f5f5f5;
}

.main-display >div .display .amount {
  font-size: 11em;
}

.main-display >div .display .amount span {
  font-size: .25em;
}

.main-display >div .incomplete {
  display: none;
}

.main-display >div .complete {
  position: absolute;
  right: 60px;
  font-size: 3em;
  color: green;
  opacity: .5;
}